<div class="enter-location full">
  <img src="/img/logo.png" alt="7-Eleven">
  <h1>SLURP-MEE!</h1>
  <form>
    <input type="text" id="zip-input" placeholder="enter zip code" />
    <input type="submit" id="zip-submit" />
  </form>
  <br/>OR</br/>
  <a id="location-submit" class="medium yellow" href="#">Find My Location</a>
</div>
