<div class="enter-location full">
  <img src="/img/logo.png" alt="7-Eleven">
  <h1>SLURP-MEE!</h1>
  <form>
    <input type="text" placeholder="enter zip code" />
    <input type="submit" />
  </form>
  <br/>OR</br/>
  <a class="medium yellow" href="/location/30.283821/-97.750345">Use Location</a>
</div>
