<div class="enter-location full">
  <img src="/img/logo.png" alt="7-Eleven">
  <h1>Slurp-Mee!</h1>
  <form>
    <input type="text" placeholder="enter zip code" />
    <input type="submit" />
  </form>
  <br/>OR</br/>
  <a class="medium yellow"href="/location/45130">Use Location</a>
</div>