<div class="enter-location full">
  <img class="header" src="/img/choose-location-header.png" width="100%">
  <h1>SLURP-MEE!</h1>
  <form>
    <input type="text" id="zip-input" placeholder="enter zip code" >
    <button id="zip-submit">GO</button>
  </form>
  <div class="divider"><span class="divider-text">OR</span></div>
  <a id="location-submit" class="medium yellow" href="#">Find My Location</a>
</div>
