/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /* TODO: fix le font */
  font-family: brandon-grotesque, sans-serif;
  color: #fff;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1 {
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
}
a {
  display: block;
  margin: 5px auto;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
#main {
  position: absolute;
  width: 100%;
  height: 100%;
}
.full {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
}
.big {
  font-size: 40px;
}
.medium {
  font-size: 20px;
}
.intro h1 {
  color: #22eeb1;
}
.get-started-link {
  background-color: #f9ed32;
  color: #f12935;
  text-transform: uppercase;
  padding: 10px;
  width: 136px;
}
.wiggle {
  -webkit-animation: wiggle .7s ease-in-out 1s 2;
     -moz-animation: wiggle .7s ease-in-out 1s 2;
      -ms-animation: wiggle .7s ease-in-out 1s 2;
       -o-animation: wiggle .7s ease-in-out 1s 2;
          animation: wiggle .7s ease-in-out 1s 2;
}
.intro {
  background: #f12935;
}

.intro .hero {
  margin-bottom: 35px;
  max-width: 600px;
}

.enter-location .header {
  max-width: 600px;
}
.enter-location {
  background: #00bbcc;
}
.enter-location h1 {
  color: #662d91;
  margin-top: 20px;
}

.enter-location form {
  width: 80%;
  margin: 10px auto;
}

.enter-location form input[type=text] {
  width: 66%;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
}

.enter-location form button {
  background-color: #f9ed32;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid  #6d6e71;
}

.enter-location .divider {
  width: 80%;
  background: url('/img/divider.png') repeat-x 0 50%;
  margin: 0 auto;
}

.enter-location .divider .divider-text {
  background-color: #00bbcc;
  padding: 5px 15px;
}

#location-submit {
  background-color: #662d91;
  color: #00bbcc;
  text-transform: uppercase;
  width: 80%;
  padding: 15px;
  margin-top: 10px;
}

.flavor {

}

.flavor .blue-raspberry {
  background-color: #22eeb1;
}

.flavor .orange {
  background-color: #f7941e;
}

.flavor .strawberry {
  background-color: #ff2954;
}

.flavor .grape {
  background-color: #662d91;
}

.flavor .banana {
  background-color: #d7df23;
}

.flavor .blue_cherry {
  background-color: #00ddcc;
}

.flavor .white_cherry {
  background-color: #fff;
}

.flavor .green_melon {
  background-color:
}

/* Keyframes */
@-webkit-keyframes wiggle {
  25% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-4deg);
       -moz-transform: rotate(-4deg);
        -ms-transform: rotate(-4deg);
         -o-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  75% {
    -webkit-transform: rotate(4deg);
       -moz-transform: rotate(4deg);
        -ms-transform: rotate(4deg);
         -o-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-moz-keyframes wiggle {
  25% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-4deg);
       -moz-transform: rotate(-4deg);
        -ms-transform: rotate(-4deg);
         -o-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  75% {
    -webkit-transform: rotate(4deg);
       -moz-transform: rotate(4deg);
        -ms-transform: rotate(4deg);
         -o-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-ms-keyframes wiggle {
  25% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-4deg);
       -moz-transform: rotate(-4deg);
        -ms-transform: rotate(-4deg);
         -o-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  75% {
    -webkit-transform: rotate(4deg);
       -moz-transform: rotate(4deg);
        -ms-transform: rotate(4deg);
         -o-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-o-keyframes wiggle {
  25% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-4deg);
       -moz-transform: rotate(-4deg);
        -ms-transform: rotate(-4deg);
         -o-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  75% {
    -webkit-transform: rotate(4deg);
       -moz-transform: rotate(4deg);
        -ms-transform: rotate(4deg);
         -o-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes wiggle {
  25% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-4deg);
       -moz-transform: rotate(-4deg);
        -ms-transform: rotate(-4deg);
         -o-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  75% {
    -webkit-transform: rotate(4deg);
       -moz-transform: rotate(4deg);
        -ms-transform: rotate(4deg);
         -o-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
